body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	background-color: #FF66CC;
}

#Layer_1 {
	position: absolute;
	left: 23%;
	width: 600px;
	margin: 50px;
}

.cls-1 {
	stroke-dasharray: 1300px;
	stroke-dashoffset: 1300px;
	animation: dash 7s ease-in-out forwards;
}

@keyframes dash {
	to {
		stroke-dashoffset: 0;
		opacity: 1;
	}
}

#maddyphoto {
	position: absolute;
	top: 35%;
	left: 35%;
	transform: rotate(90deg);
}

#leftballoons {
	position: absolute;
	left: 15%;
	top: 40%;
}

#rightballoons {
	position: absolute;
	right: 15%;
	top: 40%;
}

#blurb {
	color: white;
	position: absolute;
	bottom: 3%;
	font-family: 'Satisfy', cursive;
	font-size: 3.5vh;
	left: 15%;
}